Repository dialstack/dialstack-spineline-demo: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, eslint, prettier

typecheck:
  name: TypeScript type check
  entry: npm run typecheck
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier format check
  entry: npm run format:check
  language: system
  pass_filenames: false

feat: add PBX section with CallLogs component
  app/(dashboard)/pbx/page.tsx
  app/components/EmbeddedComponentContainer.tsx
  app/components/Nav.tsx
  app/hooks/EmbeddedComponentProvider.tsx
  app/hooks/EmbeddedComponentWrapper.tsx
  app/hooks/useDialstack.ts
  package-lock.json
  package.json
Due: typecheck, eslint, prettier

refactor: rename env var to NEXT_PUBLIC_DIALSTACK_PUBLIC_KEY
  .env.example
  app/hooks/useDialstack.ts
Due: typecheck, eslint, prettier

feat: fetch publishable key at runtime via API endpoint
  app/api/dialstack/config/route.ts
  app/hooks/useDialstack.ts
Due: typecheck, eslint, prettier

feat: pass client API URL to SDK for environment-specific endpoints
  app/api/dialstack/config/route.ts
  app/hooks/useDialstack.ts
Due: typecheck, eslint, prettier

feat: use Next.js standalone output for smaller Docker layers
  Dockerfile
  next.config.mjs
Due: none

refactor: consolidate to single DIALSTACK_API_URL
  app/api/dialstack/config/route.ts
Due: typecheck, eslint, prettier

refactor: update to new SDK accountSessions API
  app/api/dialstack/session/route.ts
  package-lock.json
  package.json
Due: typecheck, eslint, prettier

perf(docker): split deps stage to improve SDK update caching
  Dockerfile
Due: none

dx: improve log output in development mode
  lib/logger.ts
  middleware.ts
  package.json
Due: typecheck, eslint, prettier

fix: improve migrate script for local development
  package.json
  scripts/migrate.mjs
Due: prettier

fix: improve error logging in signup flow
  lib/auth.ts
Due: typecheck, eslint, prettier

fix: make component outline more visible
  app/components/EmbeddedComponentContainer.tsx
  app/global.css
Due: typecheck, eslint, prettier

feat(pbx): add practice-specific dashboard content
  app/(dashboard)/pbx/page.tsx
Due: typecheck, eslint, prettier

refactor: rename PBX to Voice and remove container padding
  app/(dashboard)/voice/page.tsx
  app/components/EmbeddedComponentContainer.tsx
  app/components/Nav.tsx
  yalc.lock
Due: typecheck, eslint, prettier

Bump SDK
  package.json
Due: prettier

fix: sync package-lock.json with SDK alpha.4 and libphonenumber-js
  package-lock.json
Due: prettier

feat: add voicemail component with opportunistic user creation
  app/(dashboard)/voice/page.tsx
  app/api/dialstack/user/route.ts
  lib/auth.ts
Due: typecheck, eslint, prettier

feat: show component name and docs link on hover
  app/(dashboard)/voice/page.tsx
  app/api/dialstack/user/route.ts
  app/components/EmbeddedComponentContainer.tsx
Due: typecheck, eslint, prettier

chore: use @dialstack/sdk from npm instead of yalc
  package-lock.json
  package.json
  yalc.lock
Due: prettier

fix: lazy init DialStack client to fix build-time errors
  app/api/dialstack/session/route.ts
  app/api/dialstack/user/route.ts
  lib/auth.ts
  lib/dialstack.ts
Due: typecheck, eslint, prettier

chore: update dependencies
  package-lock.json
  package.json
Due: prettier

chore: bump sdk
  package-lock.json
  package.json
Due: prettier

perf(ci): optimize GitHub Actions build performance
  .github/workflows/ci.yml
  Dockerfile
Due: prettier

perf(ci): simplify workflow to single CI job
  .github/workflows/ci.yml
Due: prettier

perf(ci): use ECR for Docker build cache instead of GitHub Actions
  .github/workflows/ci.yml
Due: prettier

fix: use named export for node-pg-migrate
  scripts/migrate.mjs
Due: none

feat: display practice phone number on Voice page
  app/(dashboard)/voice/page.tsx
  lib/format-phone.ts
Due: typecheck, eslint, prettier

feat: add inline editing for patient details
  app/(dashboard)/patients/page.tsx
  app/api/patients/[id]/route.ts
  app/components/EditableCell.tsx
Due: typecheck, eslint, prettier

feat: add phone number validation and formatting with libphonenumber-js
  app/(dashboard)/patients/page.tsx
  app/(dashboard)/voice/page.tsx
  app/api/patients/[id]/route.ts
  app/api/testdata/patients/route.ts
  app/components/EditableCell.tsx
  lib/format-phone.ts
  lib/phone.ts
  package-lock.json
  package.json
Due: typecheck, eslint, prettier

feat: add screen pop for incoming calls
  app/(dashboard)/layout.tsx
  app/api/patients/lookup/route.ts
  app/components/screen-pop/ScreenPopPanel.tsx
  app/components/screen-pop/ScreenPopProvider.tsx
  app/components/screen-pop/index.ts
  app/hooks/useCallEvents.ts
  app/models/patient.ts
  components/ui/sheet.tsx
Due: typecheck, eslint, prettier

fix(screen-pop): improve panel styling and add recent activity
  app/components/screen-pop/ScreenPopPanel.tsx
Due: typecheck, eslint, prettier

feat: redesign landing page with healthcare theme
  .gitignore
  .prettierignore
  app/global.css
  app/layout.tsx
  app/page.tsx
  eslint.config.mjs
  public/apple-touch-icon.png
  public/dashboard.png
  public/dialstack-logo.svg
  public/favicon.ico
  public/favicon.png
  public/landing-page.webp
  public/pattern-white.png
  public/pattern.png
  public/spineline_icon.webp
  public/testimonial-portrait.webp
  public/testimonial.webp
  scripts/capture-dashboard.py
  tailwind.config.js
Due: typecheck, eslint, prettier

style: make landing page buttons bigger and bolder
  components/ui/button.tsx
Due: typecheck, eslint, prettier

fix: resize images to web-appropriate dimensions
  app/page.tsx
  public/dashboard.png
  public/dashboard.webp
  public/landing-page.webp
  public/spineline_icon.webp
  public/testimonial-portrait.webp
  public/testimonial.webp
Due: typecheck, eslint, prettier

feat: improve patients UI with search, sorting, and detail panel
  app/(dashboard)/patients/page.tsx
  app/api/patients/[id]/route.ts
  app/api/patients/route.ts
  app/components/EditableCell.tsx
  app/components/EmbeddedComponentContainer.tsx
  app/components/patients/PatientPanel.tsx
  app/components/screen-pop/ScreenPopPanel.tsx
  lib/phone.ts
Due: typecheck, eslint, prettier

fix: resolve lint warnings
  app/(dashboard)/patients/page.tsx
  app/components/Schedule.tsx
Due: typecheck, eslint, prettier

refactor: simplify Add Patient flow
  app/(dashboard)/patients/page.tsx
Due: typecheck, eslint, prettier

Path conditions:
  typecheck: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|json|css|md|yaml|yml)$
