Repository dialstack/dialstack-spineline-demo: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, eslint, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      # TypeScript type checking
      - id: typecheck
        name: TypeScript type check
        entry: npm run typecheck
        language: system
        pass_filenames: false
        files: \.(ts|tsx)$

      # ESLint
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        pass_filenames: false
        files: \.(js|jsx|ts|tsx)$

      # Prettier formatting check
      - id: prettier
        name: Prettier format check
        entry: npm run format:check
        language: system
        pass_filenames: false
        files: \.(js|jsx|ts|tsx|json|css|md|yaml|yml)$

Merge pull request #238 from dialstack/fix/availability-range-clipping
  __tests__/availability-search.test.ts
  app/api/dialstack/webhooks/availability/search/route.ts
  lib/availability.ts
Due: typecheck, eslint, prettier

Merge pull request #245 from dialstack/dependabot/npm_and_yarn/spineline/undici-7.18.2
  package-lock.json
Due: prettier

Merge pull request #248 from dialstack/dependabot/npm_and_yarn/spineline/diff-8.0.3
  package-lock.json
Due: prettier

Merge pull request #260 from dialstack/feat/spineline-multi-practitioner
  Dockerfile
  __tests__/availability-search.test.ts
  __tests__/booking-webhook.test.ts
  app/api/dialstack/webhooks/availability/search/route.ts
  app/api/dialstack/webhooks/bookings/route.ts
  app/models/provider.ts
  lib/availability.ts
  lib/provider-utils.ts
  next.config.mjs
  package-lock.json
Due: typecheck, eslint, prettier

Merge pull request #262 from dialstack/fix/spineline-migrations-image
  next.config.mjs
Due: none

Merge pull request #285 from dialstack/dependabot/npm_and_yarn/spineline/dev-dependencies-6ecd9c999b
  package-lock.json
  package.json
Due: prettier

Merge pull request #283 from dialstack/dependabot/npm_and_yarn/spineline/production-dependencies-d4afe74645
  package-lock.json
  package.json
Due: prettier

Merge pull request #300 from dialstack/feat/sdk-dial-plan-viewer
  app/(dashboard)/voice/page.tsx
  app/api/dialstack/dial-plan/route.ts
Due: typecheck, eslint, prettier

Merge pull request #336 from dialstack/dependabot/npm_and_yarn/lodash-es-4.17.23
  package.json
Due: prettier

Merge pull request #335 from dialstack/dependabot/npm_and_yarn/spineline/lodash-es-4.17.23
  package-lock.json
Due: prettier

Merge pull request #337 from dialstack/dependabot/npm_and_yarn/spineline/lodash-4.17.23
  package-lock.json
Due: prettier

Merge pull request #339 from dialstack/fix/npm-workspaces-lockfile
  package-lock.json
Due: prettier

Merge pull request #352 from dialstack/dependabot/npm_and_yarn/production-dependencies-ba83b86bca
  package.json
Due: prettier

Merge pull request #353 from dialstack/dependabot/npm_and_yarn/dev-dependencies-49913f9767
  package.json
Due: prettier

Merge pull request #348 from dialstack/feat/extensions-api
  app/api/dialstack/dial-plan/route.ts
  lib/auth.ts
Due: typecheck, eslint, prettier

Merge pull request #389 from dialstack/dependabot/npm_and_yarn/production-dependencies-4003602045
  package.json
Due: prettier

Merge pull request #520 from dialstack/feat/codebuild-phase4-rollout
  __tests__/availability-search.test.ts
  __tests__/booking-webhook.test.ts
  __tests__/migrations.test.ts
Due: typecheck, eslint, prettier

Merge pull request #390 from dialstack/dependabot/npm_and_yarn/dev-dependencies-be2f8d82e0
  package.json
Due: prettier

Merge pull request #536 from dialstack/dependabot/npm_and_yarn/production-dependencies-def56374c5
  package.json
Due: prettier

Merge pull request #537 from dialstack/dependabot/npm_and_yarn/dev-dependencies-1a0e6e6141
  package.json
Due: prettier

Merge pull request #524 from dialstack/feat/ring-groups
  app/api/dialstack/dial-plan/route.ts
  app/api/dialstack/user/route.ts
  scripts/deploy.sh
Due: typecheck, eslint, prettier

Merge pull request #726 from dialstack/fix/dialstackSDKAdminDevPt2
  package.json
Due: prettier

Merge pull request #752 from dialstack/chore/nodeEnv
  .npmrc
  package.json
Due: prettier

Merge pull request #772 from dialstack/dependabot/npm_and_yarn/production-dependencies-a66ffdc7a9
  package.json
Due: prettier

chore: add root postinstall to build SDK after npm install (#801)
  package.json
Due: prettier

Merge pull request #809 from dialstack/simonperreault/dia-119-authlogin-fails-on-spinelinedevhome-url
  app/(dashboard)/home/page.tsx
  app/(dashboard)/voice/page.tsx
  app/components/AuthenticatedAndOnboardedRoute.tsx
Due: typecheck, eslint, prettier

Merge pull request #889 from dialstack/dependabot/npm_and_yarn/production-dependencies-d28574804b
  package.json
Due: prettier

Merge pull request #890 from dialstack/dependabot/npm_and_yarn/dev-dependencies-ff6dd885a9
  package.json
Due: prettier

Merge pull request #892 from dialstack/dependabot/npm_and_yarn/eslint-10.0.1
  eslint.config.mjs
  package.json
Due: prettier

Merge pull request #955 from dialstack/onboarding-account-step
  app/(dashboard)/onboarding/page.tsx
  app/api/dialstack/session/route.ts
  app/components/Nav.tsx
  app/hooks/useDialstack.ts
Due: typecheck, eslint, prettier

Merge pull request #989 from dialstack/feat/session-component-scoping
  app/api/dialstack/session/route.ts
Due: typecheck, eslint, prettier

Merge pull request #1002 from dialstack/claude/slack-disable-spineline-onboarding-em3X7
  .env.example
  app/(dashboard)/onboarding/page.tsx
  app/components/Nav.tsx
  app/components/Screen.tsx
Due: typecheck, eslint, prettier

Merge pull request #1014 from dialstack/dependabot/npm_and_yarn/production-dependencies-120d2b7025
  package.json
Due: prettier

Merge pull request #998 from dialstack/onboarding-hardware
  app/(dashboard)/onboarding/page.tsx
  app/api/dialstack/config/route.ts
Due: typecheck, eslint, prettier

Merge pull request #1030 from dialstack/onboarding-spineline-notloading
  app/api/dialstack/session/route.ts
Due: typecheck, eslint, prettier

Merge pull request #1052 from dialstack/spineline/assignedNumber
  app/api/dialstack/session/route.ts
Due: typecheck, eslint, prettier

Merge pull request #1036 from dialstack/onboarding-tel-numbers
  app/api/dialstack/session/route.ts
Due: typecheck, eslint, prettier

Merge pull request #1083 from dialstack/dia-251-e911-sdk
  next.config.mjs
Due: none

Merge pull request #1181 from dialstack/spineline/localdev
  .env.example
Due: none
