Repository dialstack/dialstack-spineline-demo: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, eslint, prettier

typecheck:
  name: TypeScript type check
  entry: npm run typecheck
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier format check
  entry: npm run format:check
  language: system
  pass_filenames: false

Add Docker build and ECR push to CI workflow
  .github/workflows/ci.yml
  Dockerfile
Due: prettier

Add structured JSON logging with pino
  lib/logger.ts
  middleware.ts
  package-lock.json
  package.json
Due: typecheck, eslint, prettier

Replace console.* calls with pino logger for JSON structured logging
  app/api/account_info/route.ts
  lib/auth.ts
  lib/dbConnect.ts
Due: typecheck, eslint, prettier

Remove pino-pretty transport to fix Next.js worker thread conflicts
  lib/logger.ts
Due: typecheck, eslint, prettier

Use RDS-managed secret format for database credentials
  .env.example
  README.md
  lib/dbConnect.ts
Due: typecheck, eslint, prettier

Fix DATABASE_SECRET format to match RDS-managed secret
  .env.example
  README.md
  lib/dbConnect.ts
Due: typecheck, eslint, prettier

Add database migration system with automated testing
  Dockerfile
  README.md
  __tests__/migrations.test.ts
  database/init.sql
  migrations/1760100000000_initial-schema.mjs
  package-lock.json
  package.json
  scripts/migrate.mjs
  vitest.config.ts
Due: typecheck, eslint, prettier

Add test step to CI workflow
  .github/workflows/ci.yml
Due: prettier

Fix database connection URL encoding for special characters in credentials
  lib/dbConnect.ts
  scripts/migrate.mjs
Due: typecheck, eslint, prettier

Disable ANSI color codes in migration script logs
  scripts/migrate.mjs
Due: none

Optimize CI workflow for faster builds
  .github/workflows/ci.yml
Due: prettier

Add SSL configuration for RDS PostgreSQL connections
  lib/dbConnect.ts
  scripts/migrate.mjs
Due: typecheck, eslint, prettier

Fix Docker image to include lib directory and use SSL connection string
  Dockerfile
  scripts/migrate.mjs
Due: none

Use custom pg.Client with SSL config for migrations
  scripts/migrate.mjs
Due: none

Fix migration script: connect pg.Client before running migrations
  scripts/migrate.mjs
Due: none

Make SSL optional for PostgreSQL connections
  lib/dbConnect.ts
  scripts/migrate.mjs
Due: typecheck, eslint, prettier

Add local PostgreSQL development setup documentation
  .gitignore
  README.md
  tsconfig.json
Due: prettier

Go /home after signing up
  app/(auth)/signup/page.tsx
Due: typecheck, eslint, prettier

Fix typo
  app/(dashboard)/home/page.tsx
Due: typecheck, eslint, prettier

Remove outdated doc
  CLAUDE.md
Due: prettier

Add Account settings and Patients CRM section
  CLAUDE.md
  app/(dashboard)/patients/page.tsx
  app/(dashboard)/settings/layout.tsx
  app/(dashboard)/settings/page.tsx
  app/api/patients/route.ts
  app/components/Nav.tsx
  app/global.css
  app/models/patient.ts
  components/ui/table.tsx
  migrations/1760200000000_create-patients-table.mjs
Due: typecheck, eslint, prettier

Add test patient generation and fix UI component styling
  app/api/testdata/patients/route.ts
  app/components/ToolsPanel.tsx
  app/components/testdata/CreateTestPatientsButton.tsx
  app/global.css
  components/ui/dialog.tsx
  components/ui/select.tsx
Due: typecheck, eslint, prettier

Fix Tools panel styling to match Furever
  app/components/Tools/LocaleSelector.tsx
  app/components/ToolsPanel.tsx
  components/ui/switch.tsx
Due: typecheck, eslint, prettier

Configure Inter font to match Furever's typography
  app/layout.tsx
  tailwind.config.js
Due: typecheck, eslint, prettier

Add Details section to Account settings page
  app/(dashboard)/settings/page.tsx
  app/api/email_update/route.ts
  app/api/password_update/route.ts
  app/components/EditEmailButton.tsx
  app/components/EditPasswordButton.tsx
  app/models/practice.ts
  components/ui/link.tsx
  lib/auth.ts
Due: typecheck, eslint, prettier

Add patient schedule to home page
  app/(dashboard)/home/page.tsx
  app/components/Schedule.tsx
  app/data/schedule.json
  components/ui/badge.tsx
Due: typecheck, eslint, prettier

Update schedule with realistic chiropractic appointments
  app/components/Schedule.tsx
  app/data/schedule.json
Due: typecheck, eslint, prettier

Remove leftover unused workflows
  .github/workflows/deploy.yml
  .github/workflows/infrastructure.yml
Due: prettier

Convert spineline to ARM64 for ~20% cost savings
  .github/workflows/ci.yml
Due: prettier

Use native ARM64 runners instead of QEMU for faster builds
  .github/workflows/ci.yml
Due: prettier

Add workflow_dispatch trigger for manual builds
  .github/workflows/ci.yml
Due: prettier

Use self-hosted arm64 runner
  .github/workflows/ci.yml
Due: prettier

feat(spineline): add @dialstack/sdk dependency
  package.json
Due: prettier

feat(dialstack): add DialStack SDK integration
  .env.example
  app/api/dialstack/session/route.ts
  app/hooks/useDialstack.ts
  eslint.config.mjs
  lib/auth.ts
  lib/dialstack.ts
  tsconfig.json
  types/next-auth.d.ts
Due: typecheck, eslint, prettier

chore: use @dialstack/sdk@0.1.0-alpha.1 from npm
  package-lock.json
  package.json
Due: prettier

refactor: remove platform_id for implicit platform context
  .env.example
  .gitignore
  app/api/dialstack/session/route.ts
Due: typecheck, eslint, prettier

chore: update @dialstack/sdk to v0.2.0-alpha.1
  package-lock.json
  package.json
Due: prettier

feat: create DialStack account on practice signup
  app/models/practice.ts
  lib/auth.ts
  migrations/1760300000000_add-dialstack-account-id.mjs
Due: typecheck, eslint, prettier

chore: update @dialstack/sdk to v0.2.1-alpha.1
  package-lock.json
  package.json
Due: prettier

fix: use email param for account creation
  lib/auth.ts
  package-lock.json
  package.json
Due: typecheck, eslint, prettier

Path conditions:
  typecheck: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|json|css|md|yaml|yml)$
